/* write your css here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  display: flex;
  align-items: center;
  background-color: rgb(29, 37, 51);
  justify-content: space-between;
}
/* Its the left section where 3 people image is there */
.main_img_section {
  width: 600px;
  height: 100%;
}
.img {
  width: 600px;
}
/* Its the main content section */
.main_content_section {
  width: 600px;
  margin: 0 100px 0 80px;
}
/* award winning line */
.award_winning_header {
  color: #845ef7;
  font-size: 20px;
  margin: 60px 0 0 0;
  font-family: sans-serif;
}
/* we are here heading */
.were_here_header {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
  margin: 10px 0 0 0;
}

.french_txt {
  color: rgb(209, 187, 187);
  font-family: "Roboto", sans-serif;
  font-weight: 350;
  font-size: 18px;
  line-height: 1.6;
  margin: 25px 0 0 0;
}

.help_center_button {
  color: white;
  margin: 30px 0 0 0;
  background-color: #53525756;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 15px;
}

/* Code ended thank you :) */
