/* write your css here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  padding: 20px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.blog_header {
  margin: 25px 0 0 200px;
  font-size: 40px;
}
.learn_how_to_grow_heading {
  color: rgba(110, 105, 105, 0.555);
  margin: 10px 0 0 200px;
  font-size: 20px;
}
.two_blog_section {
  display: flex;
  margin: 20px 200px;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}
.blog_images {
  margin-right: 20px;
}
.blog_img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}
.blog_content {
  max-width: calc(100% - 170px);
}
.blog_meta {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #aaa;
  margin-bottom: 10px;
}
.blog_meta p {
  margin-right: 10px;
}
.blog_department {
  background-color: #eee;
  padding: 2px 8px;
  border-radius: 5px;
}
.blog_title {
  font-size: 24px;
  color: #333;
  margin: 10px 0;
}
.blog_description_french_txt {
  font-size: 16px;
  color: #666;
  margin: 10px 0;
}
